<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
</head>
<body>

    <form id="add-book-form" class="add-book-form" method="post" action="/addBook">
        <label for="category-dropdown">Choose category:</label>
        <select id="category-dropdown" name="dropdown">
            <option value="volvo">Volvo</option>
            
        </select>

    </form>    
</body>
</html>